.content
  - @artists.each do |artist|
    .pod
      %a.block-link{:href=> '/artists/' + artist.id.to_s }
        %span.red
          = artist.name
        %br
        = artist.bio

.sidebar
  .pod.red.tan
    %h1.red Artists
    .divider
    This is a directory of all artists that pass through Denver. Did you just start a band or discover one?
  = link_to 'New Artist', new_artist_path, :class => 'red-button'
