.content
  - @artists.each do |artist|
    .pod
      %a.block-link{:href=> '/artists/' + artist.id.to_s }
        %span.red
          = artist.name
        %br
        = artist.bio

.sidebar
  %h1.white Artists
  .divider
  .pod.white
    This is a directory of all artists that pass through Denver. Did you just start a band or discover one?
  .pod
    = link_to 'New Artist', new_artist_path, :class => 'red-button'
