<div class="artist_full">
	<h1 class="page_title"><%= @artist.name %></h1>
	
	<div class="info_block">
	<% if @artist.bio != "" %>
		<span class="attr_title">Biography:</span>
		<%= @artist.bio %>
	<% end %>
	</div>

	<div class="info_block">
	<% if @artist.website != "" %>
		<span class="attr_title">Websites:</span>
		<%= link_to "Website", @artist.website %>
	<% end %>
	</div>
</div>
<%= link_to "edit", edit_artist_path(@artist.id), :class=>"red_button"%>
