.content
  %h2.red Upcoming Shows
  -if @upcoming_concerts.present?
    = render :partial => 'concerts/clist', :locals => { :concerts => @upcoming_concerts } 
  -else
    This artist does not have any upcoming shows.
.sidebar
  .pod.red.tan
    %h1.red 
      = @artist.name
    .divider
    %h3.red Bio:
    .pod.red.tan.indent
      - if @artist.bio.present?
        = @artist.bio
      - else 
        This artist does not have a bio filled out.
    %h3.red Websites:
    .pod.red.tan.indent
      websites!!!
  = link_to 'Edit', edit_artist_path(@artist.id), :class=>'red-button'
