.content
  %h2.red Upcoming Shows
  -if @upcoming_concerts.present?
    Shows!!!
    = render :partial => 'concerts/clist', :locals => { :concerts => @upcoming_concerts } 
  -else
    This artist does not have any upcoming shows.
.sidebar
  %h1.white 
    = @artist.name
  .divider
  %h2.white Bio:
  .pod.white
    - if @artist.bio.present?
      = @artist.bio
    - else 
      This artist does not have a bio filled out.
  %h2.white Websites:
  .pod.white
  
  .pod  
    = link_to 'Edit', edit_artist_path(@artist.id), :class=>'red-button'
