%h1.page_title Venues

- @venues.group_by{ |venue| venue.venue_type }.each do |venue_type, venues| 
	%span.venue_type 
		= venue_type
	
	- venues.each do |venue|
		.venue_stub
			= link_to venue.name, venue_path( venue.id ), :class=>"attr_title"
			= venue.address

= link_to 'New Venue', new_venue_path, :class => "red_button"
