.content
  - @venues.group_by{ |venue| venue.venue_type }.each do |venue_type, venues| 
    %span.venue-type
      = venue_type + 's'
    - venues.each do |venue|
      .pod
        %a.block-link{ :href => '/venues/' + venue.id.to_s }
          %span.red
            = venue.name
          %br
          = venue.address
.sidebar
  %h1.white Venues
  .divider
  .pod.red.tan
    This is a list of venues in the Denver area. Did you find a new spot no one else knows about?
  = link_to 'New Venue', new_venue_path, :class => "red-button"
