
#content
  %h1 Heading 1
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis tellus quis metus accumsan eleifend. Sed mollis elit non metus mattis bibendum
  end
#sidebar
  %h1 Heading 2
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis tellus quis metus accumsan eleifend. Sed mollis elit non metus mattis bibendum
			
