#wrapper{
  margin: 0px auto -190px ;
  
  min-height: 100% ;
  height: 100% ;
  height: auto !important;  
  
  background-image: url('backgrounds/container.png');
  background-repeat: repeat-y ;
  background-position: center ;
}
.container{  
  width: 940px ;
  margin: 0px auto 0px ;
  
  position: relative ;
  overflow: hidden ;
}

.push{ 
  height: 190px ; 
  clear: both ;
}

#header, #footer{
  height: 190px ;
  
  background: #cd5353 ;
  background-image: url('backgrounds/light-headfoot.png');
  background-repeat: repeat-y ;
}

.fh-container{
  height: inherit ;
  width: 940px ;
  margin: 0px auto ;
    
  background-image: url('backgrounds/container-headfoot.png');
  background-repeat: repeat-y ;
  
  position: relative ;
  overflow: hidden ;
}

#content{
  width: 500px ;
  padding: 20px ;
  
  float: left ;
}

#sidebar{
  width: 360px ;
  padding: 20px ;
  
  color: #FFFFFF ;
  
  float: right ;
}

#content h1{ color: #e17979 ; }

#sidebar h1{ color: #FFFFFF ; }


