/* 
 * Navigation Styles 
 */

.navigation{
  margin: 0px 0px 0px -20px ;
  padding: 16px 0px 16px 0px ;
  
  list-style: none ;
}

.navigation li {
  display: inline ;
}

.navigation li a {
  width: auto ;
  padding: 0px 20px ;
  
  font-family: 'Futura' ;
  text-align: center ;
  font-size: 1.3em ;
  text-decoration: none ;
  color: #cd5353 ;
  
  display: inline-block ;
}

.navigation li a:hover{
  background: #cd5353 ;
  
  color: #FFFFFF ;
}

#header .navigation{
  bottom: 0px ;
  
  position: absolute ;
}

/*
 * Logo
 */

#logo{
  width: 384px ; 
  height: 161px ;
  margin: 10px ;
  
  background-image: image_url('logo.png') ;
  background-repeat: no-repeat ;
  
  position: absolute ;
  left: 370px ;
}

/*
 * Background Styls
 */
.tan{
  background: #f4e8e8 ;
}

/*
 * Text Styles
 */
.red{
  color: #cd5353 ;
}

.white{
  color: #FFFFFF ;
}

/*
 * Link Styles
 */
.block-link{
  height: auto ;
  width: 100% ;
  
  text-decoration: none ;
  color: #000000 ;
  
  display: block ;
}

.block-link:hover{
  background: #f4e8e8 ;
}

/*
 * Text-pod layouts
 */
.pod{
  padding: 20px 20px 20px 20px ;
  margin-bottom: 20px ;
  text-align: justify ;
  
  overflow: hidden ;
  
  border-radius: 5px ;
  
}

.constrained{
  width: 200px ;
}

/*
 * Coda Slider Styles
 */

.picture-slider{
  height: 240px ;
  width: 360px ;
  
  background: #000000 ;
}

/* 
 * Button Styles
 */

.red-button{
  width: 110px ;
  height: 30px ;
  padding: 5px 2px 1px 2px ;
  
  background-image: image_url('button.png') ;
  background-position: center bottom ;
  
  text-align: center ;
  text-decoration: none ;
  color: #FFFFFF ;
  
  display: inline-block ;
}

.red-button:hover{
  background-image: image_url('button-hover.png') ;
  background-position: center bottom ;}
